# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/tfplan
terraform/.terraform.lock.hcl

# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/
dist/
.pytest_cache/

# Docker
*.tar

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Secrets
*.pem
*.key
secrets/
.env

#Others
venv/
__pycache__/
*.pyc
.env
node_modules/
*.log
.DS_Store
terraform.tfstate
terraform.tfstate.backup
*.tfvars
.idea/
.vscode/
